body {
    margin: 0;
    padding: 0;
    
}

ol,
ul {
    list-style:none;
   }

a {  
    text-decoration: none;
  }

header {
    display: flex;
    background-color: burlywood;
    align-items: center;
    justify-content:space-between;
}

header a i{
    color: white;
    font-size: 3em;
    padding: 0.5em;
}

header nav ul {
    display: flex;
    gap: 1.1em;
}

header nav ul li a{
    color: white;
}

.seccion-1 {
    background-color: rgb(228, 232, 236);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    gap: 1em;
}

div.greeting {
    background-color: rgb(236, 228, 229); 
}
    


.seccion-2 img {
    width: 100%;
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

.seccion-3 {
    background-color: rgb(228, 232, 236);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    gap: 1em;
}